{{> head}}
{{>navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Imagen</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail">
        </div>
    </div>
{{>footer}}
<!-- nodemon server.js -e js,hbs,html,css . es para que nodemon esté pendiente de los cambios en esos archivos y no estar reiniciando el server-->